<!DOCTYPE html>
<html>
  <head>
    <title>Today's Date!</title>
  </head>
  <body>
    <p>The date is <%=Date.today.strftime("%A")%>, <%=Date.today.strftime("%B")%> <%=Date.today.day%>, <%=Date.today.year%></p>
  </body>
</html>
